<div class="px-6 lg:px-0 max-w-screen-md mx-auto py-10" id="about">
  <h2 class="text-5xl text-center mb-6">About</h2>
  <div class="block lg:flex items-center">
    <img src="../../assets/bruce_headshot_1.jpeg" alt="Bruce Headshot" class="mx-auto mb-4 lg:mb-0 h-64 lg:w-64 object-cover rounded shadow-lg">
    <p class="p-0 lg:pl-4 m-0 text-2xl">
      Cleaning windows yourself can often times be a dreaded and time consuming spring cleaning task. So I started Bruce’s Window Cleaning to offer residential home owners a friendly, quick, and reliable service. With our service your windows are cleaned at a great price and offer a precise spot-less clean.  
    </p>
  </div>
</div>